@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,100);

body {
    color: #2d3140;
    
}
img {
    width: auto;
    height: auto;
}

a{
    text-decoration: none;
    color: #52576d;
}
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: 0;
}
.header {
    height: 79px;
      background-color: #2d3140;
}
.header .logo {
    font-family: Lato;
    font-weight: 400;
    font-size: 22px;
    float:left;
    
    width: 30%;
}
.header .logo .sitename a {
    color: white;
}

.header .logo img{
    vertical-align: middle;
}

.header .logo .sitename{
    padding-left: 10px;
}


.header .content {
    color: white;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 13px;
}
.header .menu {
    margin-top: 15px;
    width:70%;
    float: left;
    text-align: right;
}
.header .menu li{
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    display: inline;
    color: white;
    margin-right: 45px;
}
.header .menu li .btn{
    padding: 9px 35px;
    background-color: #ff7a2c;
}

.header .menu li .btn:hover{
    background-color: #FF9D3A;
}


.header .menu li a{
    color: white;
    text-transform: uppercase;
}

.contentp .slider  {
    height: 641px;
    background-image: url(img/slider.jpg);
        background-repeat: no-repeat;
    background-size: cover;

}
.contentp .slider .slidercontent{
    max-width: 1170px;
    margin: 0 auto;
}
.contentp .slider .placeholder{
    float: left;
    min-height: 1px;
    width:72%;
}

.contentp .slider .text {
    margin-top: 106px;
    float: left;
    color: white;
    width: 28%;
    
}
.contentp .slider .text .title{
    font-family: Roboto Condensed;
    font-weight: 400;
    font-size: 64px;
    text-transform: uppercase;
    line-height: 60px;
    border-left: 9px solid #ff7a2c;
    padding-left: 20px;
}
.contentp .slider .text .title span{
    font-size: 78px;
}

.contentp .slider .text .plot{
    font-family: Lato;
    font-weight: 400;
    font-size: 21px;
    padding-left: 30px;
    padding-top: 15px;
}
.subslider {
        max-width: 1170px;
    margin: 0 auto;
    margin-top: 27px;
}
.subslider .item {
    float:left;
    margin-right: 30px;
}
.subslider div.item:last-child {
    margin-right: 0px;
}



.contentp-tourtle .slider  {
    margin-top: 46px;
    margin-bottom: 46px;
    height: 717px;
    background-image: url(img/tourtle.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.contentp-tourtle .slider .slidercontent{
    max-width: 1170px;
    margin: 0 auto;
}
.contentp-tourtle .slider .placeholder{
    float: left;
    min-height: 1px;
    width:64.5%;
}

.contentp-tourtle .slider .text {
    margin-top: 220px;
    float: left;
    width: 28%;
    padding-right: 5%;
    
}
.contentp-tourtle .slider .text .title {
    font-family: Roboto Condensed;
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 60px;
 
   
}


.contentp-tourtle .slider .text .plot {
    font-family: Lato;
    font-weight: 300;
    font-size: 21px;
    padding-top: 15px;
}
.contentp-tourtle .slider .text .btn-donate {
    color: white;
     font-family: Lato;
    font-weight: 400;
    font-size: 25px;
    margin-top: 39px;
    text-transform: uppercase;
     padding: 16.5px 110px;
    background-color: #ff7a2c;
}

.contentp-tourtle .slider .text .btn-donate:hover{
 background-color: #FF9D3A;
}

.follow-us {
    
    
}
.follow-us .slider  {
    
    height: 437px;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
     

}
.follow-us .slider .slidercontent{
    max-width: 570px;
    margin: 0 auto;
}


.follow-us .slider .text {
    

    
    
    
}
.follow-us .slider .text .title {
    font-family: Roboto Condensed;
    font-weight: 400;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 60px;
}


.follow-us .slider .text .plot {
    font-family: Lato;
    font-weight: 300;
    font-size: 21px;
    padding-top: 28px;
}
.follow-us .slider .text .btn-f {
    color: white;
     font-family: Lato;
    font-weight: 400;
    font-size: 15px;
    margin-top: 24px;
   width: 546px;
    height: 38px;
    padding-top: 24px;
    padding-left: 24px;
    background-image: url(img/iconf.jpg);
    background-repeat: no-repeat;
    background-position: right;
    text-transform: uppercase;
    
    background-color: #ff7a2c;
}

.follow-us .slider .text .btn-f:hover {
    
    background-image: url(img/iconf_h.png);
        background-repeat: no-repeat;
    background-position: right;
 background-color: #ff9d3a;
        
}
.follow-us .slider .text .input {
        position: relative;
   
    
}

.follow-us .slider .text .input .text {
      color: #abadb3;
    font-family: Lato;
    font-weight: 300;
    font-size: 15px;
    margin-top: 37px;
    text-transform: uppercase;
    background: white;
    border: 2px solid #d4d4d4;
    width: 540px;
    height: 62px;
    padding-left: 24px;
}
.follow-us .slider .text .btn {
    
    height: 36px;
    width: 52px;
     background-image: url(img/icon.png);
   position: absolute;

right: 22px;
    top: 50px;
}
.follow-us .slider .text .btn:hover {
    background-image: url(img/icon_h.png);
}

.home-2 {
    background-image: url("img/our mission.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 520px;
}
.home-2 .content {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 0px;
}
.home-2 .text {
    padding-left: 0;
    padding-top: 10%;
}
.home-2 .text .title {
    color: #2d3140;
    font-family: Roboto Condensed;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
}
.home-2 .text .description {
    font-family: Lato;
    font-weight: 300;
    font-size: 21px;
    padding-top: 28px;
    color: #2d3140;
    max-width: 500px;
}
.home-2 .btn {
    padding: 9px 35px;
         font-family: Lato;
    font-weight: 400;
    font-size: 15px;
    background-color: #ff7a2c;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    display: inline-block;
}

.home-2 .btn:hover {
     background-color: #ff9d3a;
}

.contact-1 .content {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 70px;
    background-image: url("img/contact-logo.png");
    background-position: right top;
    background-repeat: no-repeat;
}
.contact-1 h1 {
    font-family: Roboto Condensed;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    color: #2d3140;
}
.contact-1 .info {
    max-width: 460px;
}
.contact-1 .info .text {
    font-family: Lato;
    font-weight: 300;
    font-size: 21px;
    padding-top: 28px;
}

.contact-1 .info .text a{
    text-decoration-line: underline;
}
.contact-1 .info .text a:hover{
    color: #ff9d3a;
}
.contact-1 .info ul {
    margin-top: 38px;
    list-style-position: inside;
    padding-left: 30px;
    font-family: Lato;
    font-size: 22px;
    font-weight: 200;
    color: #52576d;
    list-style-image: url('img/bul.png');
}
.contact-1 .info .social {
    margin-top: 40px;
}
.contact-1 .info .social img {
    margin-right: 15px;
}

.contact-1 .info .subscribe {
    margin-top: 40px;
}

.contact-1 .info .subscribe .plot {
    font-family: Lato;
    font-weight: 300;
    font-size: 21px;
    padding-top: 28px;
}
.contact-1 .info .subscribe .field {
    position: relative;
    
}
.contact-1 .info .subscribe .input {
    color: #abadb3;
    font-family: Lato;
    font-weight: 300;
    font-size: 15px;
    margin-top: 37px;
    text-transform: uppercase;
    background: white;
    border: 2px solid #d4d4d4;
    width: 420px;
    height: 62px;
    padding-left: 24px;
}
.contact-1 .info .subscribe .btn {
    height: 36px;
    width: 52px;
    background-image: url(img/icon.png);
    position: absolute;
    right: 30px;
    top: 50px;
}

.contact-1 .info .subscribe .btn:hover {
     background-image: url(img/icon_h.png);
}
.contact-2 {
    background-image: url("img/bg_map.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.contact-2 .content {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 10px;
}
.contact-2 .text {
    padding-left: 70%;
    padding-top: 20%;
}
.contact-2 .text .title {
    color: #fff;
    font-family: Roboto Condensed;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
}
.contact-2 .text .description {
    font-family: Lato;
    font-weight: 300;
    font-size: 21px;
    padding-top: 28px;
    color: #fff;
}
.contact-3 {
    background-image: url("img/mountain.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
}
.contact-3 .content {
    max-width: 770px;
    margin: 0 auto;
    margin-top: 40px;
}
.contact-3 .title {
    color: #2d3140;
    font-family: Roboto Condensed;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
}
.contact-3 input {
    color: #abadb3;
    font-family: Lato;
    font-weight: 300;
    font-size: 15px;
    margin-top: 37px;
    text-transform: uppercase;
    background: white;
    border: 2px solid #d4d4d4;
    width: 740px;
    height: 42px;
    padding-left: 25px;
}

.contact-3 input.name {
    margin-right: 28px;

}
.contact-3 input.name,
.contact-3 input.email {
    width: 340px;
}
.contact-3 textarea {
    color: #abadb3;
    font-family: Lato;
    font-weight: 300;
    font-size: 15px;
    margin-top: 37px;
    text-transform: uppercase;
    background: white;
    border: 2px solid #d4d4d4;
    width: 740px;
    padding-left: 25px;
    padding-top: 10px;
}

.contact-3 .send {
    margin-top: 10px;
}
.contact-3 .msg {
    font-family: Lato;
    font-size: 22px;
    font-weight: 200;
    color: #9ea6a1;
}
.contact-3 .btn {
    float: right;
    padding: 9px 35px;
      font-family: Lato;
    font-weight: 400;
    font-size: 15px;
    background-color: #ff7a2c;
    color: white;
    text-transform: uppercase;
}
.contact-3 .btn:hover {
     background-color: #FF9D3A;
}
.footer {
    height: 100px;
    border-top: 5px solid #9cead6;
}
.footer .footer-content {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 25px;
}
.footer img {
    margin-right: 15px;
}
.footer .social,
.footer .copyright {
    
    float: left;
}
.footer .copyright {
    margin-left: 25px;
    color: #2d3140;
    line-height: 55px;
}