@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,100);

body {
    color: #2d3140;
    
}
img {
    width: auto;
    height: auto;
}

a{
    text-decoration: none;
    color: #52576d;
}
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: 0;
}
.header {
    height: 79px;
      background-color: #2d3140;
}
.header .logo {
    font-family: Lato;
    font-weight: 400;
    font-size: 22px;
    float:left;
    width: 30%;
}

.header .logo img{

}

.header .logo .sitename{
    
}


.header .content {
    color: white;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 13px;
}
.header .menu {
    margin-top: 22px;
    width:70%;
    float: left;
    text-align: right;
}
.header .menu li{
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    display: inline;
    color: white;
    margin-right: 45px;
}
.header .menu li .btn{
    padding: 9px 35px;
    background-color: #ff7a2c;
}

.header .menu li a{
    color: white;
    text-transform: uppercase;
}

.contentp .slider  {
    height: 641px;
    background-image: url(img/slider.jpg);

}
.contentp .slider .slidercontent{
    max-width: 1170px;
    margin: 0 auto;
}
.contentp .slider .placeholder{
    float: left;
    min-height: 1px;
    width:72%;
}

.contentp .slider .text {
    margin-top: 106px;
    float: left;
    color: white;
    width: 28%;
    
}
.contentp .slider .text .title{
    font-family: Roboto;
    font-weight: 400;
    font-size: 64px;
    text-transform: uppercase;
    line-height: 60px;
    border-left: 9px solid #ff7a2c;
    padding-left: 20px;
}
.contentp .slider .text .title span{
    font-size: 78px;
}

.contentp .slider .text .plot{
    font-family: Lato;
    font-weight: 400;
    font-size: 21px;
    padding-left: 30px;
    padding-top: 15px;
}
.subslider {
        max-width: 1170px;
    margin: 0 auto;
    margin-top: 27px;
}
.subslider .item {
    float:left;
    margin-right: 30px;
}
.subslider div.item:last-child {
    margin-right: 0px;
}



.contentp-tourtle .slider  {
    margin-top: 46px;
    height: 717px;
    background-image: url(img/tourtle.jpg);

}
.contentp-tourtle .slider .slidercontent{
    max-width: 1170px;
    margin: 0 auto;
}
.contentp-tourtle .slider .placeholder{
    float: left;
    min-height: 1px;
    width:64.5%;
}

.contentp-tourtle .slider .text {
    margin-top: 220px;
    float: left;
    width: 28%;
    padding-right: 5%;
    
}
.contentp-tourtle .slider .text .title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 60px;
 
   
}


.contentp-tourtle .slider .text .plot {
    font-family: Lato;
    font-weight: 300;
    font-size: 21px;
    padding-top: 15px;
}
.contentp-tourtle .slider .text .btn-donate {
    color: white;
     font-family: Lato;
    font-weight: 400;
    font-size: 25px;
    margin-top: 39px;
    text-transform: uppercase;
     padding: 16.5px 110px;
    background-color: #ff7a2c;
}


.follow-us .slider  {
    margin-top: 46px;
    height: 717px;
    background-image: url(img/background.png);

}
.follow-us .slider .slidercontent{
    max-width: 570px;
    margin: 0 auto;
}


.follow-us .slider .text {
    margin-top: 220px;

    
    
    
}
.follow-us .slider .text .title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 60px;
 
   
}


.follow-us .slider .text .plot {
    font-family: Lato;
    font-weight: 300;
    font-size: 21px;
    padding-top: 15px;
}
.follow-us .slider .text .btn {
    color: white;
     font-family: Lato;
    font-weight: 400;
    font-size: 15px;
    margin-top: 39px;
    text-transform: uppercase;
     padding: 16.5px 110px;
    background-color: #ff7a2c;
}

.follow-us .slider .text .input {
    color: #2d3140;
     font-family: Lato;
    font-weight: 300;
    font-size: 15px;
    margin-top: 39px;
    text-transform: uppercase;
     padding: 16.5px 110px;
    background-color: white;
}