@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
body {
    font: 14px Helvetica, sans-serif;

   
    
}
.wrapper {

    width: 960px;
    margin:inherit; 
    padding: 20px;
    overflow: auto;
    margin: 0 auto;
    
}
header {
    padding: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
    color: white;
    background-color: #ff7f00;
    height: 80px;
    text-transform: uppercase;
    
}
div.menu>ul>li {
    
    display: inline;
    
    
}

.title{
   padding: 10px;
    display: block;
    font-size: 23px;
    height: 30px;
    background-color: #fd490e;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}

.content{
    display: block;    
    overflow: auto;
    margin-top: 20px;
    
}
.left{
    float:left;
}
.banner{
    width: 200px;
    height: 200px;
    color: white;

    display: block;
  
    padding: 10px;
    background-color: #01a0c7;
}
.adv {
    margin-top: 20px;
    width: 220px;
    height: 220px;
    display: block;
    
    background-color: #047391;

}

.menu {
    font-size: 23px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    
    
}
.right{
     padding: 0 0 0 20px;
    overflow: auto;
}
.footer {

    display: block;
    padding: 15px;
    color: white;
    text-align: right;
    width: 690px;
    height: 20px;
    margin-top: 2%;
    background-color: #bfbfbf;
    float: right;
}

div.menu>ul>li>a {
    text-decoration: none;
    color: darkcyan;
    padding: 20px;
}
#i {
    font-style: italic;
}
.column{
    column-count: 2;
}

div.menu>ul {
    padding: 0px;
}
div.banner>ul{
    padding: 0px;
    }
div.banner>ul>li{
    padding-bottom: 20px;
    padding-left: 10px;
    
    }

